<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UNE COMPETENCE</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{competence.id}} </td></tr>
	<tr><td>Code : </td><td>{{competence.code}}</td></tr>
		  <tr><td>Libelle : </td><td>{{competence.libelle}}</td></tr>
	   <tr><td>Nombre d'étudiants max : </td><td>{{competence.nbetudiantsmax}}</td></tr>
	
 </table>
	
	 
    </body>
</html>