<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		LISTE DES MAISON</br></br>
		<table>
		{% for m in pMaisons %}
		<tr>
			<td><a href="{{ path('maisonConsulter', { 'code': m.code }) }}">{{ m.nom }}</a></td>
	{% else %}
		<tr>
		<td>Aucune maison n'a été trouvée.</td>
		</tr>
	{% endfor %}
</table>
	
	<a href="{{ path('etudiantLister') }}">Accès à la liste complète des etudiants</a></br>
	<a href="{{ path('accueil') }}">Retour à l'accueil</a>
	 
    </body>
</html>