<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		LISTE DES NOTES</br></br>
		<table>
		{% for n in pNotes %}
		<tr>
			<td><a href="{{ path('noteConsulter', { 'id': n.id }) }}">{{ n.note }}</a></td>
			<td>    </td>
			<td>{{n.etudiant.nom}}</td>
			<td>    </td>
			<td>{{ n.competence.libelle }}</td>
	{% else %}
		<tr>
		<td>Aucune note n'a été trouvée.</td>
		</tr>
	{% endfor %}
</table>
	
	 
    </body>
</html>